
body{
     font-family: arial ;
     font-size: 14px;
     background-color:gainsboro
}
p{    font-size: 18px;
     padding:12px;
}
table{    
     background-color: whitesmoke;
}
tr{
     padding: 2px 20px 2px 2px;
}

.menum{
     margin: 0px 0px;  
    
}
.menum li{
    float:left;
    list-style-type: none;  
    
}
.menum li a{
     background: #16a085;
     color: #fff;
     display: block;
     padding: 10px 20px;
     text-decoration: none;
     transition: 400ms all;
}
.menum li a:hover{
     background: #1abc9c;
}
.menum li:first-child a {
     border-radius: 30px 0 0 30px;
}
.menum li:last-child a {
     border-radius: 0 30px 30px 0;
}
button{
     width:500px;
     height: 70px;
     background-color: #16a085;
}

